* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

picture,
img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--main-font);
    color: var(--text-color);
    transition: all 250ms ease-in-out;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
}