@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/roboto-regular-400.woff) format('woff'),
    url(../fonts/roboto-regular-400.woff2) format('woff2');
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto-medium-500.woff) format('woff'),
            url(../fonts/roboto-medium-500.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    
}