<div class="backdrop is-hidden" data-modal>
  <div class="team-modal">
    <div class="team-cards">
      <h2 class="team-cards__title">Our team!</h2>
      <div class="team-cards__first">
        <div class="team-cards_item">
          <a href="https://github.com/Yefimkin" target="blank">
            <p class="team-cards_name">Denys</p>
            <img
              class="team-cards_photo"
              src="./images/footer-modal/yefimkin.jpg"
              alt="profile"
            />
            <p class="team-cards_post">Team lead</p>
          </a>
        </div>
        <div class="team-cards_item">
          <p class="team-cards_name">Denys</p>
          <a href="https://github.com/DenisHura" target="blank">
            <img
              class="team-cards_photo"
              src="./images/footer-modal/hura.jpg"
              alt="profile"
            />
            <p class="team-cards_post">Scrum master</p>
          </a>
        </div>
      </div>
      <div class="team-cards__second">
        <div class="team-cards_item">
          <p class="team-cards_name">Serhii</p>
          <a href="https://github.com/Lakei87" target="blank">
            <img
              class="team-cards_photo"
              src="./images/footer-modal/monastyrskyi.jpg"
              alt="profile"
            />
            <p class="team-cards_post">Developer</p>
          </a>
        </div>
        <div class="team-cards_item">
          <p class="team-cards_name">Olexander</p>
          <a href="https://github.com/Alexander0k" target="blank">
            <img
              class="team-cards_photo"
              src="./images/footer-modal/adamovskiy.jpg"
              alt="profile"
            />
            <p class="team-cards_post">Developer</p>
          </a>
        </div>
        <div class="team-cards_item">
          <p class="team-cards_name">Olexander</p>
          <a href="https://github.com/Kornev-js" target="blank">
            <img
              class="team-cards_photo"
              src="./images/footer-modal/kornev.jpg"
              alt="profile"
            />
            <p class="team-cards_post">Developer</p>
          </a>
        </div>
      </div>
      <div class="team-cards__third">
        <div class="team-cards_item">
          <p class="team-cards_name">Artem</p>
          <a href="https://github.com/tommychubenko" target="blank">
            <img
              class="team-cards_photo"
              src="./images/footer-modal/chubenko.jpg"
              alt="profile"
            />
            <p class="team-cards_post">Developer</p>
          </a>
        </div>
        <div class="team-cards_item">
          <p class="team-cards_name">Vitaliy</p>
          <a href="https://github.com/Racoonyaka2085" target="blank">
            <img
              class="team-cards_photo"
              src="./images/footer-modal/arikov.jpg"
              alt="profile"
            />
            <p class="team-cards_post">Developer</p>
          </a>
        </div>
        <div class="team-cards_item">
          <p class="team-cards_name">Denys</p>
          <a href="https://github.com/Denys-Zabolotskyi" target="blank">
            <img
              class="team-cards_photo"
              src="./images/footer-modal/zabolotskyi.jpg"
              alt="profile"
            />
            <p class="team-cards_post">Developer</p>
          </a>
        </div>
        <div class="team-cards_item">
          <p class="team-cards_name">Vladyslav</p>
          <a href="https://github.com/VladRosolov" target="blank">
            <img
              class="team-cards_photo"
              src="./images/footer-modal/rosolov.jpg"
              alt="profile"
            />
            <p class="team-cards_post">Developer</p>
          </a>
        </div>
      </div>
    </div>
    <button aria-label="close" class="footer-modal-close">
      <svg class="footer-modal-close__icon">
        <use href="./images/icons.svg#close-modal"></use>
      </svg>
    </button>
  </div>
</div>
