<header class="header-bg-lib">
  <div class="container">

    <div class="header-section-lib">
        <a href="./index.html" class="logo">
          <img class="logo__icon" src="./images/film.svg" alt="filmoteka" />
            <span class="logo__name">Filmoteka</span>
        </a>
    </div>
      <div>
        <nav class="navigation"></nav>
          <ul class="site-nav">
            <li class="site-nav__item">
            <a href="index.html" class="side-nav__link">Home</a>
            </li>
            <li class="site-nav__item">
            <a href="library.html" class="site-nav__link site-nav__link--current-page"
              >My library</a
            >
            </li>
          </ul>
        </nav>
      </div>
      <div class="button-container"> 
        <button class="button mr watched-button" type="button">WATCHED</button> 
        <button class="button queue-button" type="button">QUEUE</button> 
      </div>
      
  </div>
</header>
