<div class="endless-bg-color">
  <header class="header-bg-lib">
    <div class="container">
      <div class="header-section-lib">
        
          <a class="navigation__logo logo">
          <img class="logo__icon" src="/src/images/film.svg" alt="filmoteka" />

          <span class="logo__name">Filmoteka</span>
        </a>
        <nav class="navigation"></nav>
        <ul class="side-nav">
          <li class="side-nav__item">
            <a href="index.html" class="side-nav__link">Home</a>
          </li>
          <li class="side-nav__item">
            <a href="library.html" class="side-nav__link side-nav__link--current-page"
              >My library</a
            >
          </li>
        </ul>
      </nav>

       <form>
        <div role="group">
          <ul class="storage">
            <li class="storage__item">
              <label class="storage__label">
                <input
                  type="radio"
                  name="storage-btn"
                  value="Watched"
                  class="storage__input visuallyhidden"
                  checked
                />
                <span class="storage__btn">Watched</span>
              </label>
            </li>
            <li class="storage__item">
              <label class="storage__label">
                <input
                  type="radio"
                  name="storage-btn"
                  value="Queue"
                  class="storage__input visuallyhidden"
                />
                <span class="storage__btn">Queue</span>
              </label>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </header>
</div>