<header class="page-header">
  <div class="container header-container">
    <div class="nav-section">
      <a href="./index.html" class="logo">
        <span class="logo__title">Filmoteka</span>
      </a>
      <nav class="navigation">
        <ul class="menu">
          <li class="menu__item">
            <a href="#" class="menu__link home-link current">Home</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link lib-link">my library</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
