.button {
    width: 136px;
    height: 44px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    transition: All .25s cubic-bezier(.4, 0, .2, 1);
    &:active {
            top: 0.3em;
            left: 0.3em;
            box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
        }
    
        &::before {
            content: '';
            height: 100px;
            position: absolute;
            transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
            transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
            width: 200px;
        }
    
        &:hover {
            color: #fff;
            background-color: #ff6b01;
            border: none;
            box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
        }
    
        &:hover::before {
            background-color: #fff;
            transform: translate3d(100%, -100px, 0) rotate3d(0, 0, 1, 90deg);
        }
}

.activeBtn {
    width: 136px;
    height: 44px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: All 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ff6b01;
    border-color: #ff6b01;
}

@media screen and (max-width: 767px) {
    .button {
        width: 129.53px;

        &:not(:last-child) {
            margin-right: 19.94px;
        }
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    opacity: 1;
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}

.centrBtn {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
        margin-right: auto;
    }
}

.mr {
    margin-right: 15px;
}