.header-bg {
    max-width: 100%;
    min-height: 230px;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('/src/images/header-home-mobile.jpg');
    background-color: #000000;
    
    padding-top: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    @media screen and (max-width: (768px - 1)) and (min-device-pixel-ratio: 2),
    screen and (max-width: (768px - 1)) and (min-resolution: 192dpi),
    screen and (max-width: (768px - 1)) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('/src/images/header-home-mobile-2x.jpg');
    }
    
        @media screen and (min-width: 768px) {    
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                url('/src/images/header-home-tablet.jpg');
    
            @media screen and (max-width: (1280px - 1)) and (min-device-pixel-ratio: 2),
            screen and (max-width: (1280px - 1)) and (min-resolution: 192dpi),
            screen and (max-width: (1280px - 1)) and (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                    url('/src/images/header-home-tablet-2x.jpg');
            }
        }
    
        @media screen and (min-width: 1280px) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                url('/src/images/header-home-desktop.jpg');
    
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                    url('/src/images/header-home-desktop-2x.jpg');
            }
        }

}

//search form

.header-search{
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    
    
    @media screen and (min-width: 768px) {
        width: 336px;
    }
    
}

.search-form {
    display: flex;
    text-align: center;
}

.search-field {
    width: 100%;

    font-size: 14px;
    line-height: 1.14;

    @media screen and (min-width: 768px) {
        width: 336px;
    }
        background-color: transparent;
        border: transparent;
        border-bottom: 1px solid var(--secondary-color);
    
        font-family: var(--main-font);
    
        color: var(--primary-white-color);
            
        &:focus {
            outline: none;
            border-bottom: 1px solid var(--brand-orange-color);
        }
}

.search-btn {
    
    @media screen and (min-width: 768px) {
        right: 142px;
    }

    @media screen and (min-width: 1280px) {
        right: 273px;
    }

    padding: 0;

    background-color: transparent;
    border: transparent;

    color: var(--secondary-color);

}

// logo
.logo {
    position: absolute;
    top: 46px;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
    }

    text-decoration: none;

    color: var(--secondary-color);

    cursor: pointer;
}

.logo__icon {
    @media screen and (min-width: 768px) {
        margin-right: 10px;
    }
}

.logo__name {
    @media screen and (max-width: (768px - 1)) {
        display: none;
    }

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;

    color: var(--primary-white-color);
}

// site-nav

.site-nav {
    display: flex;
    justify-content: flex-end;

    margin-bottom: 40px;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.site-nav__item {
    &:first-child {
        margin-right: 39px;
    }
}

.site-nav__link {
    text-decoration: none;

    color: inherit;
}

.site-nav__link--current-page {
    position: relative;

    &::after {
        content: '';

        position: absolute;
        bottom: -3px;
        left: 0;

        height: 3px;
        width: 100%;

        background-color: var(--brand-orange-color);
    }
}

