.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 280px;
  height: 940px;
  position: absolute;
  z-index: 999;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  padding: 48px 20px 40px 20px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-image {
  padding-bottom: 20px;
  display: flex;
}

.modal-post__title {
  font-size: 20px;
  line-height: 1.15;
  padding-bottom: 20px;
}

.modal-post__info .tt {
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.modal-post__info .ti {
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}

.modal-post__info .tr:not(:last-child) .tt {
  padding-bottom: 8px;
}

.modal-post__info .tr:not(:last-child) .ti {
  padding-bottom: 8px;
}

.modal-post__info .tr:first-child .ti {
  color: #8c8c8c;
}

.modal-post__info .tt {
  width: 108px;
}

.modal-post__desription {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}

.modal-post__desription__title {
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.modal-post__desription__item {
  font-size: 12px;
  line-height: 1.67;
}

.modal-btn {
  width: 110px;
  height: 44px;
  font-size: 12px;
  line-height: 1.33;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #000000;
  padding: 14px 8px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #ff6b01;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
}

@media screen and (max-width: 1199px) {
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
}

.modal-close__icon {
  width: 30px;
  height: 30px;
}

.modal-close:hover {
  fill: #ff6b01;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    height: 552px;
    padding: 40px 72px 40px 35px;
    display: flex;
  }
  .modal-image {
    min-width: 264px;
    height: 374px;
    padding-bottom: 0;
  }

  .modal-post {
    padding-left: 68px;
  }
  .modal-btn {
    width: 125px;
  }
  .modal-post__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 806px;
    height: 558px;
    display: flex;
  }

  .modal-image {
    min-width: 375px;
    min-height: 478px;
  }
  
  .modal-post {
    padding-left: 16px;
  }
  .modal-post__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.16;
    padding-bottom: 20px;
  }
  .modal-post__info .tt {
    width: 152px;
  }
  .modal-btn {
    width: 136px;
  }
  .modal-btn:first-child {
    margin-left: 8px;
  }
  .modal-btn:last-child {
    margin-left: 15px;
  }
}
