.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .team-modal {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
}

.team-modal {
  width: 280px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .team-cards_item:not(:last-child) {
    margin-bottom: 10px;
  }
  .team-cards_photo {
    width: 130px;
    height: 130px;
  }
  .team-cards_name {
    font-size: 18px;
    font-weight: 700;
  }
  .team-cards_post {
    font-size: 16px;
    font-weight: 900;
  }
}

@media screen and (min-width: 768px) {
  .team-modal {
    width: 600px;
    height: 470px;
    padding: 10px;
    overflow: hidden;
  }
  .team-cards__first,
  .team-cards__second,
  .team-cards__third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team-cards_item:first-child {
    margin-right: 40px;
  }
  .team-cards__second .team-cards_item:not(:last-child) {
    margin-right: 40px;
  }
  .team-cards__third .team-cards_item:not(:last-child) {
    margin-right: 40px;
  }
  .team-cards_photo {
    width: 90px;
    height: 90px;
  }
  .team-cards_item {
    width: 90px;
    height: 130px;
  }
  .team-cards_name {
    font-size: 16px;
    font-weight: 500;
  }
  .team-cards_post {
    font-size: 13px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1280px) {
  .team-modal {
    width: 800px;
    height: 640px;
    padding: 20px;
  }
  .team-cards_photo {
    width: 130px;
    height: 130px;
  }
  .team-cards_item {
    width: 130px;
    height: 180px;
  }
  .team-cards_name {
    font-size: 18px;
    font-weight: 700;
  }
  .team-cards_post {
    font-size: 18px;
    font-weight: 700;
  }
}

.footer-modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
}

.footer-modal-close__icon {
  width: 30px;
  height: 30px;
}

.footer-modal-close:hover {
  fill: #ff6b01;
}

.team-cards__title {
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 1.15;
}

.team-cards__first {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.team-cards_item {
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#d8d8d8), to(#f8f8f8));
  background: linear-gradient(#d8d8d8, #f8f8f8);
}

.team-cards__second {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}
/*# sourceMappingURL=footer-modal.css.map */